<div class="ct d-flex">
    <div class="welcome row">
        <div class="row text-center mt-4">
            <div class="col-12">
                <h1><strong>Bem vindo ao site mais assustador da INFERNET!</strong></h1>
            </div>
            <div class="col-12 mt-4">
                <p><strong>Somente os mais corajosos conseguem adentrar esse mundo!</strong></p>
            </div>
            <div class="col-12">
                <p><strong>Se você quiser continuar, seguirá sozinho por um mundo sombrio...</strong></p>
            </div>
            <div class="col-12">
                <p><strong>Deseja se Aventurar?</strong></p>
            </div>
        </div>
        <div class="col-12 justify-content-center text-center">
            <button (click)="openDialog()" class="btn btn-outline-danger">Entrar</button>
        </div>
    </div>
</div>
<div class="advise">
    <p><strong>Nós tentamos te avisar...</strong></p>
</div>